@import "src/styles/colors";

.provider {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $gray-2;
  padding: 24px 100px 32px;

  &-terms {
    display: flex;
    flex-direction: row;
    background: #F9F9F9;
    padding: 12px 20px;

    &-plus {
      margin-right: 10px;
      cursor: pointer;
    }

    &-delete {
      cursor: pointer;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: auto;
      border-radius: 6px;
      background: #B3BDCE;
      margin-right: 10px;
      padding: 0 7px 0 5px;
    }

    &-text {
      font-size: 12px;
      line-height: 18px;
      color: white;
      transform: rotate(-90deg);
    }

    &-divider {
      height: 1px;
      width: 60%;
      background: white;
      border-radius: 10px;
      margin: 10px 0 6px;
    }
    
  }

  &-term {
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;

    &-input {
      max-width: 100px !important;

      &-wrapper {
        margin-right: 10px !important;
      }
    }
  }

  &-access-button {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: white;
    border: 0;
    background: linear-gradient(0deg, #166BEC 0%, #5398FF 100%), #2478F8;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
    border-radius: 4px;

    &-wrapper {
      margin-top: 14px;
    }
  }

  &-hidden-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 7px 0;
    margin-left: 30px;

    &-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: $gray-6;
      margin-right: 4px;
    }
  }

  &-card {
    position: absolute;
    top: 70%;
    right: 5%;
    display: flex;
    flex-direction: column;
    background: white;
    border: 0.5px solid #F9F9F9;
    border-radius: 6px;
    padding: 8px 0;

    &-item {
      display: flex;
      flex-direction: row;
      padding: 8px 24px;

      &-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: $geekblue-10;
        margin-left: 10px;

        &-blue {
          color: $blue;
        }
      }
    }
  }

  &-content {
    background: white;
    padding: 24px 24px 16px;

    &-input {
      font-weight: 400;
      pointer-events: none;
      max-width: 140px;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      padding: 5px 12px;

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $geekblue-10;
      }

      &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 8px;
      }

      &-arrow {
        position: absolute;
        top: 10px;
        right: 13px;
      }

      &-last {
        pointer-events: none;
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: row;

    &-filter {
      margin-right: 12px;

      &-button {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        padding: 5px 9px;
        border: 1px solid $blue;
        border-radius: 4px;
        background: transparent;

        &-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          color: $blue;

          &-active {
            color: white;
          }
        }

        &-active {
          padding: 5px 16px;
          border: 0;
          background: #030852;
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        }

        &-image {
          margin-right: 8px;

          &-arrow {
            margin-left: 30px;
          }
        }
      }
    }

    &-search {
      max-width: 190px;
      width: 100%;
      padding: 5px 12px;
      font-size: 14px;
      line-height: 22px;
      color: $gray-6;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: $gray-6;
      border-radius: 4px 0 0 4px;
    }

    &-button {
      padding: 5px 16px;
      background: $blue;
      cursor: pointer;
      border: 0;
      border-radius: 0 4px 4px 0;
      margin-right: 10px;

      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: white;
      }
    }

    &-inputs {
      display: flex;
      flex-direction: row;
      margin: 14px 0 0;
    }

    &-input {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      padding: 5px 12px;

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $geekblue-10;
      }

      &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
      }

      &-arrow {
        position: absolute;
        top: 10px;
        right: 13px;
      }

      &-list {
        pointer-events: none;
      }

      &-date {
        pointer-events: none;
        padding: 5px 30px 5px 12px;

        &-long {
          padding: 5px 55px 5px 12px;
        }
      }

      &-placeholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 12px;
      }

      &-swap {
        margin: 0 8px;
      }

      &-calendar {
        margin-left: 8px;
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $gray-6;
      }
    }

    &-checkbox {
      width: 16px;

      &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 12px;
      }

      &-label {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $geekblue-10;
        margin-left: 4px;
      }
    }
  }

  &-departures {
    display: flex;
    flex-direction: row;

    &-button {
      display: flex;
      cursor: pointer;
      flex-direction: column;
      padding: 6px 16px;
      border: 0;
      background: transparent;

      &-wrapper {
        border: 1px solid $geekblue-1;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
        border-radius: 6px;
        margin-right: 10px;

        &:first-child {
          border: 1px solid #166BEC;
        }
      }

      &-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: $geekblue-10;
      }

      &-description {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $gray-6;
      }
    }

    &-start {
      &-button {
        cursor: pointer;
        padding: 5px 16px;
        border: 0;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: $geekblue-3;
        background: $geekblue-1;

        &:hover {
          background: linear-gradient(0deg, #166BEC 0%, #5398FF 100%), #2478F8;
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
          border-radius: 4px;
          color: white;
        }
      }

      &-button-wrapper {
        display: flex;
        align-items: center;
        margin-left: 8px;
      }
    }

    &-add {
      &-button {
        cursor: pointer;
        padding: 5px 16px;
        border: 0;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: white;
        background: linear-gradient(0deg, #166BEC 0%, #5398FF 100%), #2478F8;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
      }

      &-button-wrapper {
        display: flex;
        align-items: center;
        margin-left: 8px;
      }
    }

    &-cancel {
      &-button {
        cursor: pointer;
        padding: 5px 16px;
        border: 0;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: white;
        background: #030852;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
      }

      &-button-wrapper {
        display: flex;
        align-items: center;
        margin-left: 8px;
      }
    }
  }

  &-table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border: .5px solid $gray-4;

    &-head {
      width: 100%;
      border-bottom: .5px solid $gray-4;

      &-item {
        padding: 8px;
        background: $gray-2;

        &:not(:last-child) {
          border-right: .5px solid $gray-4;
        }

        &-title {
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: $geekblue-10;
          margin-right: 80px;
          float: left;
        }

        &-text {
          text-align: right;
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: $geekblue-10;
        }
      }
    }

    &-body {
      border-bottom: .5px solid $gray-4;

      &-row {
        border-bottom: .5px solid $gray-4;
        background: white;

        &-blue {
          position: relative;
          background: $geekblue-1;
        }
      }

      &-data {
        padding: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $geekblue-10;

        &:not(:last-child) {
          border-right: .5px solid $gray-4;
        }

        &-image {
          padding: 8px;
          border-right: .5px solid $gray-4;
          border-radius: 4px;
        }

        &-checkbox {
          padding: 8px;
          border-right: .5px solid $gray-4;
          text-align: center;
        }
      }

      &-image {
        border-radius: 4px;

        &-text {
          display: inline-block;
          margin: 0 12px 0 4px;
          transform: translate(0, -30%);
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: $geekblue-10;
        }
      }

      &-text {
        padding: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        color: $geekblue-10;

        &:not(:last-child) {
          border-right: .5px solid $gray-4;
        }
      }

      &-inputs {
        padding: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-button {
        cursor: pointer;
        padding: 6px;
        background: transparent;
        color: $gray-5;
        border: 1px solid $gray-5;
        border-radius: 6px;
      }

      &-input {
        padding: 6px 4px;
        width: 100%;
        cursor: pointer;
        max-width: 40px;
        text-align: center;
        line-height: 19px;
        background: transparent;
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        margin: 0 6px;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: white;
    padding: 16px 0 23px;

    &-additional {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
    }

    &-total {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $gray-6;
      margin-right: 8px;
    }

    &-number {
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $gray-7;
      margin: 0 8px;

      &-blue {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding: 0 8px;
        color: $blue;
        border: 1px solid $blue;
        border-radius: 2px;
      }
    }

    &-page {
      padding: 0 8px;
      color: $gray-7;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid $gray-7;
    }

    &-text {
      color: $gray-7;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      margin: 0 7px;
    }

    &-input {
      padding: 1px 8px;
      width: 28px;
      height: 22px;
      background: white;
      border: 1px solid $gray-5;
      border-radius: 2px;

      &-wrapper {
        margin-right: 24px;
      }
    }
  }

  &-calendar {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 50px;
    padding: 20px;
    background: white;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.08));

    &-buttons {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }

    &-button {
      display: flex;
      flex-direction: row;
      background: $gray-2;
      border: 0;
      border-radius: 6px;
      align-items: center;
      padding: 9px 10px 6px 12px;

      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        margin-right: 55px;
      }

      &:not(:last-child) {
        margin-right: 18px;
      }
    }

    &-timer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;

      &-title {
        font-size: 14px;
        line-height: 22px;
        color: $gray-5;
        margin-right: 20px;
      }

      &-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-text {
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          color: $gray-5;
          margin: 0 8px;
        }

        &-input {
          padding: 17px 18px 13px 17px;
          border: 0;
          width: 100%;
          max-width: 75px;
          background: $gray-2;
          border-radius: 6px;
        }
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &-button-save {
      width: 100%;
      cursor: pointer;
      padding: 7px 20px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: white;
      border: 0;
      background: linear-gradient(0deg, #166BEC 0%, #5398FF 100%), #2478F8;
      border-radius: 4px;
    }

    &-button-cancel {
      cursor: pointer;
      width: 100%;
      background: transparent;
      padding: 7px 20px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: $blue;
      border: 1px solid $blue;
      border-radius: 4px;
      margin-right: 18px;
    }

    &-table {
      width: 100%;
      max-width: 100%;
      background-color: transparent;
      border-spacing: 0;
      border-collapse: collapse;

      &-head {
        width: 100%;

        &-item {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $gray-5;
          padding-bottom: 22px;

          &-black {
            color: $geekblue-10;
          }
        }
      }

      &-body {

        &-pick-start {
          position: relative;
          background: #FFEDEF;
          border-radius: 20px 0 0 20px;
        }

        &-pick-end {
          position: relative;
          background: #FFEDEF;
          border-radius: 0 20px 20px 0;
        }

        &-data {
          padding: 8px 4px;
          text-align: center;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $geekblue-10;

          &-prev {
            color: $gray-5;
          }

          &-pick {
            display: block;
            padding: 8px 4px;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            z-index: 1;
            color: white;
            background: $red;
            border-radius: 14px;

            &-background {
              position: absolute;
              top: 0;
              right: 0;
              background: #FFEDEF;
              width: 5px;
              height: 100%;
              z-index: 0;
            }
          }

          &-red {
            background: #FFEDEF;
          }
        }
      }
    }
  }
}
